*.exe binary
*.dll binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.pdf binary
*.flv binary
*.swf binary
*.gz binary
*.7z binary
*.jar binary
*.so binary
*.dylib binary
*.rar binary
*.psd binary
*.woff binary
*.woff2 binary